@import '~/node_modules/normalize.css/normalize.css';

h1, h2, h3, h4, 
h5, h6, span, ol, 
ul, li, p {
  color: #FFF;
  text-shadow: 1px 1px 1px rgba( 0, 0, 0, 0.3 );
}

h1, h2, h3 {
  font-family: 'SF-Display';
}

h4, h5, h6, span,
ol, ul, li, p {
  font-family: 'SF-Text';
}