$globalShadow: 1px 1px 1px rgba( 0, 0, 0, 0.3 );

#weather-widget {
  color: #fff;
  opacity: 0.5;
  .current-weather {
    opacity: 0.8;
    .icon {
      display: inline-block;
      text-shadow: $globalShadow;
      vertical-align: middle;
    }
    .temp {
      display: inline-block;
      text-shadow: $globalShadow;
      vertical-align: middle;
      p {
        font-family: 'SF-Text';
        font-size: 25px;
        text-align: center;
        &::after {
          content: '\02DA';
          font-family: 'SF-Display'
        }
      }
    }
  }
}