$globalShadow: 1px 1px 1px rgba( 0, 0, 0, 0.3 );

#time-widget {
  opacity: 0.5;
  p {
    font-size: 25px;
  }
  .clock {
    border: 2px solid #FFF;
    border-radius: 9999px;
    box-shadow: $globalShadow;
    display: inline-block;
    height: 36px;
    position: relative;
    width: 36px;
    .hand {
      background: #FFF;
      border-radius: 100px;
      box-shadow: $globalShadow;
      position: absolute;
        bottom: 50%;
      transform-origin: bottom;
      &.hour {
        $width: 2px;
        height: 25%;
        left: calc( 50% - ( #{ $width / 2 } ) );
        width: $width;
      }
      &.minute {
        $width: 2px;
        height: 40%;
        left: calc( 50% - ( #{ $width / 2 } ) );
        width: $width;
      }
      &.second {
        $width: 1px;
        height: 45%;
        left: calc( 50% - ( #{ $width / 2 } ) );
        width: $width;
      }
    }
  }
}