@font-face {
  font-family: 'SF-Display';
  src: url( './SF-UI-Display/SF-UI-Display-Ultralight.otf' ) format( 'opentype' );
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: 'SF-Display';
  src: url( './SF-UI-Display/SF-UI-Display-Thin.otf' ) format( 'opentype' );
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: 'SF-Display';
  src: url( './SF-UI-Display/SF-UI-Display-Light.otf' ) format( 'opentype' );
  font-style: normal;
  font-weight: 300;
}
@font-face {
  font-family: 'SF-Display';
  src: url( './SF-UI-Display/SF-UI-Display-Regular.otf' ) format( 'opentype' );
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'SF-Display';
  src: url( './SF-UI-Display/SF-UI-Display-Medium.otf' ) format( 'opentype' );
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'SF-Display';
  src: url( './SF-UI-Display/SF-UI-Display-Semibold.otf' ) format( 'opentype' );
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'SF-Display';
  src: url( './SF-UI-Display/SF-UI-Display-Bold.otf' ) format( 'opentype' );
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'SF-Display';
  src: url( './SF-UI-Display/SF-UI-Display-Heavy.otf' ) format( 'opentype' );
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: 'SF-Display';
  src: url( './SF-UI-Display/SF-UI-Display-Black.otf' ) format( 'opentype' );
  font-weight: 900;
  font-style: normal;
}