@font-face {
  font-family: 'SF-Text';
  src: url( './SF-UI-Text/SF-UI-Text-Light.otf' ) format( 'opentype' );
  font-style: normal;
  font-weight: 300;
}
@font-face {
  font-family: 'SF-Text';
  src: url( './SF-UI-Text/SF-UI-Text-LightItalic.otf' ) format( 'opentype' );
  font-style: italic;
  font-weight: 300;
}
@font-face {
  font-family: 'SF-Text';
  src: url( './SF-UI-Text/SF-UI-Text-Regular.otf' ) format( 'opentype' );
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'SF-Text';
  src: url( './SF-UI-Text/SF-UI-Text-RegularItalic.otf' ) format( 'opentype' );
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: 'SF-Text';
  src: url( './SF-UI-Text/SF-UI-Text-Medium.otf' ) format( 'opentype' );
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'SF-Text';
  src: url( './SF-UI-Text/SF-UI-Text-MediumItalic.otf' ) format( 'opentype' );
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: 'SF-Text';
  src: url( './SF-UI-Text/SF-UI-Text-Semibold.otf' ) format( 'opentype' );
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'SF-Text';
  src: url( './SF-UI-Text/SF-UI-Text-SemiboldItalic.otf' ) format( 'opentype' );
  font-weight: 600;
  font-style: italic;
}
@font-face {
  font-family: 'SF-Text';
  src: url( './SF-UI-Text/SF-UI-Text-Bold.otf' ) format( 'opentype' );
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'SF-Text';
  src: url( './SF-UI-Text/SF-UI-Text-BoldItalic.otf' ) format( 'opentype' );
  font-weight: 700;
  font-style: italic;
}
@font-face {
  font-family: 'SF-Text';
  src: url( './SF-UI-Text/SF-UI-Text-Heavy.otf' ) format( 'opentype' );
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: 'SF-Text';
  src: url( './SF-UI-Text/SF-UI-Text-HeavyItalic.otf' ) format( 'opentype' );
  font-weight: 800;
  font-style: italic;
}