html, body {
  height: 100%;
  overflow: hidden;
  width: 100%;
}

#background-video {
  position: absolute;
    top:0;
    left: 0;
  z-index: -1;
  .player {
    backface-visibility: hidden;
    opacity: 1;
    position: absolute;
      top: 0;
      left: 0;
    transition: opacity 10s linear;
    &.hide {
      opacity: 0;
    }
  }
}